<!-- Display individual comments -->
<div class="comment p-2 border mb-2" id="comment_<%= comment.id %>" >
    <p><strong><%= comment.user.email %>:</strong> <%= comment.body %> </p>

    <small class="text-sm text-gray-500">
        <%= time_ago_in_words(comment.created_at) %> ago
    </small>

    <div class="ml-4">
        <!-- Render nested replies -->
        <% if nested_comments.present? %>
            <%= render_comments(nested_comments) %>
        <% end %>
    </div>
</div>