<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@500&family=Roboto:wght@500&display=swap" rel="stylesheet">

<!-- component -->
<div class="place-items-center">
  <section class="relative mx-auto">
    <!-- navbar -->
    <nav class="flex items-center justify-between text-white" 
         style="background-color:rgb(230, 5, 5); box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      <div class="flex items-center w-full px-5 py-6 w-90 xl:px-12">
        <a class="text-3xl font-bold font-heading nav-title" href="/">
          <!-- <img class="h-9" src="logo.png" alt="logo"> -->
          Youtube-From-Temu
        </a>
        <!-- Nav Links -->
        <ul class="hidden px-4 mx-auto space-x-12 md:flex font-heading">
          <li>
            <%= link_to "Home", root_path, class: "hover:text-gray-200" %>
          </li>

          <% if current_user %>
            <li>
              <%= link_to "Upload", new_post_path, class: "hover:text-gray-200" %>
            </li>
            <li>
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "hover:text-gray-200 bg-transparent" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign up", new_user_registration_path, class: "hover:text-gray-200" %>
            </li>
            <li>
              <%= link_to "Login", new_user_session_path, class: "bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow" %>
            </li>
          <% end %>
        </ul>
        <!-- Header Icons -->
      </div>
      <!-- Responsive navbar -->
      <%#= render "layouts/search_bar" %>
    </nav>
  </section>
</div>