<!-- Navbar -->
<nav class="w-full bg-red-600 shadow-md">
  <div class="flex items-center justify-between px-5 py-6 mx-auto max-w-screen-xl">
    <a class="text-3xl font-bold font-heading nav-title text-white" href="/">
      Youtube-From-Temu
    </a>
    <!-- Nav Links -->
    <ul class="hidden px-4 mx-auto space-x-12 md:flex font-heading text-white">
      <li>
        <%= link_to "Home", root_path, class: "hover:text-gray-200" %>
      </li>

      <% if current_user %>
        <li>
          <%= link_to "Upload", new_post_path, class: "hover:text-gray-200" %>
        </li> 
        <li>
          <%= link_to "My Videos", pages_media_path, class: "hover:text-gray-200" %>
        </li>
        <li>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "hover:text-gray-200 bg-transparent" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path, class: "hover:text-gray-200" %>
        </li>
        <li>
          <%= link_to "Login", new_user_session_path, class: "bg-white hover:bg-gray-100 text-gray-800 py-2 px-4 border border-gray-400 rounded shadow" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
