<!-- Navbar -->
<nav class="w-full bg-red-600 shadow-md">
  <div class="flex items-center justify-between px-5 py-6 mx-auto max-w-screen-xl">
    <a class="text-3xl font-bold font-heading nav-title text-white" href="/">
      Youtube-From-Temu
    </a>
    <!-- Nav Links -->
    <ul class="hidden px-4 mx-auto space-x-12 md:flex font-heading text-white">
      <li>
        <%#= link_to "Home", root_path, class: "hover:text-gray-200" %>
      </li>


      <!-- Check whether the user is an Admin or Not -->
      <% if current_user&.admin? %>
        <li><%= link_to "Users", admin_users_path, class: "hover:text-gray-200" %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "hover:text-gray-200" %></li>
      <% else %>
        <% if current_user %>
          <li>
          <%#= link_to "Upload", new_post_path, class: "hover:text-gray-200" %>
          </li>
          <li>
            <%= link_to "🔔 Notifications (#{current_user.notifications.where(read: false).count})", notifications_path %>
          </li> 
          <li>
            <%= link_to "Notes", notes_path, class: "hover:text-gray-200" %>
          </li> 
          <li>
            <%= link_to "My Videos", pages_media_path, class: "hover:text-gray-200" %>
          </li>
          <li>
            <%= link_to "Profile", edit_profile_path %>
          </li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "hover:text-gray-200" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "hover:text-gray-200" %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path, class: "hover:text-gray-200" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav>
