<!DOCTYPE html>
<html>
  <head>
    <title>RailsYoutubeClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="flex flex-col min-h-screen">
    <!-- Render the Navbar --> 
    <%= render 'layouts/navbar' %>

    <!-- Flash Messages for User Authentication from Devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Main content grows to push footer down -->
    <main class="flex-grow container px-5 mx-auto mt-28">
      <%= yield %>
    </main>
    
    <!-- Render the Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>